@import url(_reset.css);
@import url(_variaveis.css);


body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);

    background: url(../../images/fundo-textura.png), url(../../images/fundo-linhas.png);
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

